body { padding-top: 70px; }

.container {
  margin: 20px auto;
  width: 1000px;
}

button{
  display: inline;
}

form{
  display: inline;
}

th {
  text-align: left;
}

.hidden{
  display: none;
}

#modal{
  text-align: center;
}



#tweetUser{
  width: 200px;
  display: inline;
}